{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/account_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock %}
{% block content %}
  <div id="tui-account-box" onload="highlightTab()">
        <div id="changePasswordWindow" class="infoWindow">
            <div id="changePasswordText" class="window_text">Na Twój adres mailowy został wysłany link do strony zmiany hasła.</div>
            <button id="closeChangePasswordWindow" class="edit_data_button" onclick="CloseWindow('changePasswordWindow')">ZAMKNIJ OKNO</button>
        </div>
        {% if not user.is_adult and not user.is_teacher %}
        <div id="parental_password_page">
            <div id="parental_password_box">
                <form id="parent_pass_form" method="post">
                    {% csrf_token %}
                    <h6 class="data_header">PODAJ HASŁO RODZICIELSKIE</h6>
                    <input type="password" name="parent_password" id="parent_password" placeholder="Podaj hasło rodzicielskie" required/><br/>
                    <h6 class="data_header">POWTÓRZ HASŁO RODZICIELSKIE</h6>
                    <input type="password" name="parent_password2" id="parent_password2" placeholder="Podaj hasło rodzicielskie" required/><br/>
                    <input type="button" id="confirm_passwords_button" value="Dalej"/>
                    <input type="button" id="cancel_parent_button" onclick="SaveData()" value="Anuluj"/>
            </form>
            </div>
        </div>
        {% endif %}
        <div id="tui-account_page" style="top: 150px;">
            <h1 style="padding-top: 10px;"> {{ user.first_name }} {{ user.last_name }} </h1>
            {% if user.is_teacher %}
                <h4 style="padding-top: 5px; color: #969696; border-bottom: 1px solid #f0f0f0; padding-bottom: 5px;">Nauczyciel</h4>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <h6 class="data_header">IMIĘ</h6>
                <div class="edit_data" id="editName" contenteditable="false">
                    <input type="text" id="first_name" name="first_name" disabled="true" value="{{ user.first_name }}" required/>
                </div>
                <h6 class="data_header">NAZWISKO</h6>
                <div class="edit_data" id="editSurname" contenteditable="false">
                    <input type="text" id="last_name" name="last_name" disabled="true" value="{{ user.last_name }}" required/>
                </div>
                <h6 class="data_header">DATA URODZENIA</h6>
                <input type="date" min="{% if not user.is_adult %}{{ user_18_years }}{% else %}1900-01-01{% endif %}" max="{% if user.is_adult %}{{ user_18_years }}{% else %}{{ today }}{% endif %}" class="edit_data" name="birthday" id="birthday" disabled="true" value="{{ user.birthday|date:'Y-m-d' }}" required/>

                <input type="button" id="editDataButton" class="edit_data_button" style="background-color: #0E4DA4;" onclick="EditData()" value="EDYTUJ DANE"/>
                <input type="submit" id="saveDataChangeButton" class="edit_data_button" value="ZAPISZ"/>
            </form>
            {% if not user.is_adult and not user.is_teacher %}
            <button id="changeParentPasswordButton" class="edit_data_button" style="background-color: #0E4DA4; width: 295px; height: 32px;" onclick="document.location='parent-password/edit'">ZMIEŃ HASŁO RODZICIELSKIE</button>
            {% endif %}
            <button id="changePasswordButton" class="edit_data_button" style="background-color: #0E4DA4;" onclick="ChangePassword()">ZMIEŃ HASŁO</button>
            <button id="deleteAccountButton" class="edit_data_button" style="background-color: #E74C3C;" onclick="document.location='delete-account'">USUŃ KONTO</button>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            SaveData();
        });
        $("#editDataButton").click(function(){
            let parent_pass = {% if not user.is_adult %}"{{ user.parent_password }}"{% else %} null {% endif %};
            if(parent_pass != null){
                let password_page = $("#parental_password_page");
                password_page.css("display","block");
                let password_box = $("#parental_password_box");
                password_box.css("display","block");
                console.log("jest");
            }
        });
        $("#confirm_passwords_button").click(function(){
            let form = $("#parent_pass_form")[0];
            let form_data = new FormData(form);
            let pass_1 = form_data.get('parent_password');
            let pass_2 = form_data.get('parent_password2');
            //console.log(form_data);
            let pass_identical = false;
            form.checkValidity();
            if(pass_1 == pass_2){
                pass_identical = true;
            }else{
                alert("Hasła nie są identyczne!");
            }
            if(form.checkValidity() && pass_identical){
                $.ajax({
                    'url': '/api/user/parent-pass-validate',
                    'method': 'POST',
                    'data': {
                            parent_password: pass_1,
                            parent_password2: pass_2,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                      statusCode: {
                        403: function() {
                            alert( "Złe dane logowania!" );
                        },
                        404: function() {
                            console.log("Page not found");
                        },
                        200: function() {
                            $("#parental_password_page").css('display', 'none');
                            $("#parental_password_box").css('display', 'none');
                        }
                      }
                })
                console.log(form_data.get('parent_password'));
            }else{
                form.reportValidity();
            }
        });
        function EditData() {
            var name = document.getElementById("first_name");
            var surname = document.getElementById("last_name");
            var dob = document.getElementById("birthday");
            var save = document.getElementById("saveDataChangeButton");
            var edit = document.getElementById("editDataButton");
            //name.setAttribute("contenteditable", true);
            name.disabled = false;
            name.style.backgroundColor = "#f0f0f0";
            name.style.borderRadius = "4px";
            //surname.setAttribute("contenteditable", true);
            surname.disabled = false;
            surname.style.backgroundColor = "#f0f0f0";
            surname.style.borderRadius = "4px";
            dob.disabled = false;
            save.style.display = "block";
            edit.style.display = "none";
        }
        function SaveData() {
            var name = document.getElementById("first_name");
            var surname = document.getElementById("last_name");
            var dob = document.getElementById("birthday");
            var save = document.getElementById("saveDataChangeButton");
            var edit = document.getElementById("editDataButton");
            name.disabled = true;
            name.style.backgroundColor = "#ffffff";
            surname.disabled = true;
            surname.style.backgroundColor = "#ffffff";
            dob.disabled = true;
            save.style.display = "none";
            edit.style.display = "block";
            let password_page = $("#parental_password_page");
            password_page.css("display","none");
            //let password_box = $("#parental_password_box");
            //password_box.css("display","block");
        }
        function CloseWindow(window) {
            var windowToClose = document.getElementById(window);
            windowToClose.style.display = "none";
        }
        function DeleteAccountConfirm() {
            document.getElementById("deleteAccountText").innerHTML = "Na Twój adres mailowy został wysłany link z potwierdzeniem decyzji."
            var button1 = document.getElementById("cancelDeletingAccountButton");
            var button2 = document.getElementById("confirmDeletingAccountButton");
            var button3 = document.getElementById("closeDeleteAccountWindow");
            var button4 = document.getElementById("deleteAccountButton");
            button1.style.display = "none";
            button2.style.display = "none";
            button3.style.display = "block";
            button4.disabled = true;
            button4.style.backgroundColor = "#ec8f88";
            button4.style.pointerEvents = "none";
        }
        function ChangePassword() {
            var changePasswordWindow = document.getElementById("changePasswordWindow");
            var button1 = document.getElementById("changePasswordButton");
            location.href = "/user/{{ user.id }}/password/edit"
            //changePasswordWindow.style.display = "block";
            button1.disabled = true;
            button1.style.backgroundColor = "#7690ce";
            button1.style.pointerEvents = "none";
        }
    </script>
{% endblock %}
