{% extends "main.html" %}
{% load static %}
{% block title %} {{ user.first_name }} {{ user.last_name }} - zmiana hasła {% endblock %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
<!--    <link href="{% static 'css/account_styles.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/password_change_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<!--    <div style="text-align:center;" id="tui-account-box">-->
<!--        <form action="/user/{{ user.id }}/password/edit" method="post">-->
<!--            {% csrf_token %}-->
<!--            <h6 class="data_header">STARE HASŁO</h6>-->
<!--            <input type="password" name="old_password" id="old_password" required/><br/>-->

<!--            <h6 class="data_header">NOWE HASŁO</h6>-->
<!--            <input type="password" name="password" id="password" required/><br/>-->

<!--            <h6 class="data_header">POWTÓRZ HASŁO</h6>-->
<!--            <input type="password" name="password2" id="password2" required/><br/>-->
<!--        <p>{{error}}</p>-->
<!--        <p>{{success}}</p>-->
<!--            <input class="btn btn-success" type="submit" value="Zmień"/>-->
<!--        </form>-->
<!--    </div>-->
    <div id="tui-account-box">
        <div id="passwordChangeBox">
        <div id="passwordChangeWindow">
            <h1 style="margin-left: 200px;">ZMIEŃ HASŁO</h1>
            <form id="psswd_form" action="/user/{{ user.id }}/password/edit" method="post">
                {% csrf_token %}
                <label for="old_password"><b>Stare hasło:</b></label>
                <input type="password"  placeholder="Stare hasło" name="old_password" id="old_password" required/>
                <label for="password"><b>Nowe hasło:</b></label>
                <input type="password" placeholder="Nowe hasło" name="password" id="password" required>
                <label for="password2"><b>Potwórz nowe hasło:</b></label>
                <input type="password" placeholder="Powtórz nowe hasło" name="password2" id="password2" required>

                <div id="differentPasswordsAlert">Hasła nie są identyczne!</div>

                <button type="button" id="saveNewPasswordButton" style="background-color: #0E4DA4;" onclick="comparePasswords();">ZAPISZ NOWE HASŁO</button>
                <a href="/" id="backToStartPage">
                    Wróć na stronę główną
                </a>
            </form>
        </div>
    </div>
    </div>
    <script>
        function comparePasswords() {
            var password1 = document.getElementById("password").value;
            var password2 = document.getElementById("password2").value;
            var alert = document.getElementById("differentPasswordsAlert");
            if (password1 != password2) {
                alert.style.display = 'block';
            } else {
                alert.style.display = 'none';
                document.getElementById('psswd_form').submit();
                }
        }
    </script>
{% endblock %}
