{% extends "main.html" %}
{% load static %}
{% block title %} {{ user.first_name }} {{ user.last_name }} - zmiana hasła {% endblock %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
<!--    <link href="{% static 'css/account_styles.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/password_change_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div id="tui-account-box">
        <div id="passwordChangeBox">
        <div id="passwordChangeWindow">
            <h1 style="margin-left: 200px;">ZMIEŃ HASŁO</h1>
            <form id="psswd_form" action="/user/{{ user.id }}/password/edit" method="post">
                {% csrf_token %}
                <label for="old_password"><b>Stare hasło:</b></label>
                <input type="password"  placeholder="Stare hasło" name="old_password" id="old_password" required/>
                <div id="oldPassWrong" style="display:none;">Błędne hasło!</div>
                <label for="password"><b>Nowe hasło:</b></label>
                <input type="password" placeholder="Nowe hasło" name="password" id="password" required>
                <div id="pass_validation_errors" class="passwords-alert"> </div>

                <label for="password2"><b>Potwórz nowe hasło:</b></label>
                <input type="password" placeholder="Powtórz nowe hasło" name="password2" id="password2" required>

                <div id="differentPasswordsAlert">Hasła nie są identyczne!</div>

                <button type="button" id="saveNewPasswordButton" style="background-color: #0E4DA4;" onclick="comparePasswords();">ZAPISZ NOWE HASŁO</button>
                <a href="/" id="backToStartPage">
                    Wróć na stronę główną
                </a>
            </form>
        </div>
    </div>
    </div>
    <script>
        function password_validation() {
            let passwd = $("#password").val();
            let valid_pass = true;
            $.ajax({
                'method': 'POST',
                'url': '/api/pass-check-constrains',
                'data': {password: passwd, csrfmiddlewaretoken: '{{ csrf_token }}'},
                'success': function(response){
                    if("pass_error" in response){
                        $("#pass_validation_errors").html(response.pass_error);
                        $("#pass_validation_errors").css("display","block");
                        valid_pass = false;
                    }else{
                        $("#pass_validation_errors").css("display","none");
                    }
                },
                'error': function(response){
                    console.log(response);
                },
                'async': false
            });
            return valid_pass;
        }

        function comparePasswords() {
            let old_pass = document.getElementById("old_password").value;
            let matches = false;
            $.ajax({
                'method': 'POST',
                'url': '/api/check-pass-matches/',
                'data': {password: old_pass, csrfmiddlewaretoken: '{{ csrf_token }}'},
                'success': function(response){
                    if(response.matches == true){
                        matches = true;
                        console.log(response);
                    }
                },
                'error': function(){
                    console.log("Error 404");
                },
                'async': false
            });
            let password1 = document.getElementById("password").value;
            let password2 = document.getElementById("password2").value;
            let password_alert = document.getElementById("differentPasswordsAlert");
            let pass_valid = password_validation();
            console.log(matches);
            if (password1 != password2) {
                password_alert.style.display = 'block';
            }else if(matches == false){
                $("#oldPassWrong").css("display", "block");
            }else{
                if(pass_valid){
                    document.getElementById('psswd_form').submit();
                }
            }

        }
        console.log("jest");
        let timer = null;
            $("#password").on("keyup",function(){
                clearTimeout(timer);
                timer = setTimeout(password_validation,1000);
            });
    </script>
{% endblock %}
