{% extends "main.html" %}
{% load static %}
{% block title %} {{ user.first_name }} {{ user.last_name }} - usuwanie konta {% endblock %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
<!--    <link href="{% static 'css/account_styles.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/delete_user_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div id="tui-account-box">
    <div id="deleteAccountBox">
    <div id="deleteAccountWindow">
      <h4 style="text-align: center;">Czy na pewno chcesz usunąć swoje konto?</h4>
      <p style="text-align: center;">Jeśli jesteś pewien/pewna podaj swoje hasło:<p>
      {% if not user.is_adult %}
        <p style="margin-left: 200px;">Jeśli jesteś rodzicem musisz podać także swoje hasło rodzicielskie:</p>
        {% endif %}
  <form method="post">
      {% csrf_token %}

      <label for="password">Hasło</label>
      <input type="password" name="password" id="password" required/>

      {% if not user.is_adult %}
        <label for="parent_password">Hasło rodzica</label>
        <input type="password" name="parent_password" id="parent_password" required>
      {% endif %}

      <p>{{error}}</p>
      <button type="submit" id="deleteAccountButton">Usuń konto</button>
  </form>
</div>
</div>
</div>
<!--<script>-->
<!--    function comparePasswords() {-->
<!--        var password1 = document.getElementById("password").value;-->
<!--        var password2 = document.getElementById("password2").value;-->
<!--        var alert = document.getElementById("differentPasswordsAlert");-->
<!--        if (password1 != password2) {-->
<!--            alert.style.display = 'block';-->
<!--        } else {-->
<!--            alert.style.display = 'none';-->
<!--            document.getElementById('psswd_form').submit();-->
<!--            }-->
<!--    }-->
<!--</script>-->

{% endblock %}
