{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/notification_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %}Powiadomienia{% endblock %}
{% block content %}
<!--    <ul class="list-group" id="notification_list">-->
<!--        {% for record in notifications %}-->
<!--            <li id="{{ record.slug }}" class="list-group-item" style="{% if record.unread %} background-color:#c5edd3; {% endif %}">&lt;!&ndash;<h6>{{record.actor.first_name}} {{ record.actor.last_name }}&ndash;&gt;</h6>-->
<!--                <h6>{{ record.verb }}</h6>-->
<!--                {% if record.data.need_acceptance %}-->
<!--                    <button href="/requests/{{record.data.request_id}}/accept" class='accept_button'>Akceptuj</button>  <button href="/requests/{{record.data.request_id}}/accept" class='reject_button'>Odrzuć</button>-->
<!--                {% endif %}-->
<!--                <p style="display:none;">{{ record.id }}</p>-->
<!--            </li>-->
<!--        {% empty %}-->
<!--            <li class="list-group-item">Nic tu nie ma</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
        <div id="tui-notification_page">
        <div id="tui-notification_box">
            {% if notifications|length == 0 %}
            <p style="text-align: center; padding-top: 20px;">Brak powiadomień</p>
            {% endif %}
            {% for record in notifications %}
                <div class="notification_sample" style="{% if record.unread %} background-color:#c5edd3; {% endif %}" id="{{ record.slug }}">
                <div class="notificationContent">
                    <div class=descriptionOfNotification>{{ record.verb }}</div>
                    <div class="bottomWrapper">
                        <div class="timeOfNotification">{{ record.timestamp }}</div>
                        {% if record.data.need_acceptance %}
                            <div class="buttonWrapper">
                                <button href="/requests/{{record.data.request_id}}/accept" class="notification_button accept_button">Zaakceptuj</button>
                                <button href="/requests/{{record.data.request_id}}/reject" class="notification_button reject_button">Odrzuć</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function highlightTab() {
            var tab = document.getElementById("notificationButton");
            tab.style.borderBottom = "4px solid white";
        }
        highlightTab();
    </script>
{% endblock %}

{% block scripts %}
        $(document).ready(function(){
            setInterval(update_notifications, 10000);
        });
        function update_notifications(){
            $.ajax({
                'type': 'GET',
                'url': "/api/user/notifications/",
                success: function(response) {
                    let n = response.all_count;
                    if(n > 0){
                        var notification_list = document.getElementById("tui-notification_box");
                        notification_list.innerHTML = " ";
                        for(var i=0;i<n;i++){
                            var notif_box = document.createElement("div");
                            notif_box.classList.add("notification_sample");

                            var notif_content = document.createElement("div");
                            notif_content.classList.add("notificationContent");
                            notif_box.appendChild(notif_content);

                            var notif_description = document.createElement("div")
                            notif_description.classList.add("descriptionOfNotification");
                            notif_description.innerHTML = response.notifications[i].verb;
                            notif_content.appendChild(notif_description);

                            var notif_footer = document.createElement("div")
                            notif_footer.classList.add("bottomWrapper");
                            notif_content.appendChild(notif_footer);

                            var notif_time = document.createElement("div")
                            notif_time.classList.add("timeOfNotification");
                            notif_time.innerHTML = response.notifications[i].timestamp;
                            notif_footer.appendChild(notif_time);


                            if(response.notifications[i].need_acceptance){
                                var accept_url = "/requests/"+ response.notifications[i].data.request_id +"/accept";
                                var reject_url = "/requests/"+ response.notifications[i].data.request_id +"/reject";
                                var notif_buttons = document.createElement("div")
                                notif_buttons.classList.add("buttonWrapper");
                                var accept_button = "<button href=" + accept_url +" class='notification_button accept_button'>Zaakceptuj</button>  <button href="+ reject_url +" class='notification_button reject_button'>Odrzuć</button>";
                                notif_buttons.innerHTML = accept_button;
                                notif_footer.appendChild(notif_buttons);
                            }
                            notif_box.id = response.notifications[i].slug;
                            if(response.notifications[i].unread){
                                $(notif_box).css("background-color", "#c5edd3");
                            }
                            notification_list.insertBefore(notif_box, notification_list.firstChild);
                        }
                    }
                },
                error: function (response) {
                // alert the error if any error occured
                    console.log("COŚ POSZŁO NIE TAK!");
            }
            });
        }
        $(".notificationContent").click(function(){
            console.log("klik!");
            let record_id = $(this.parentNode).attr("id");
            $.ajax({
                'type': 'GET',
                'url': "/notifications/mark-as-read/"+record_id+"/",
                success: function(response) {
                    console.log(record_id+" przeczytane");
                    update_notifications();
                }
            });
        });

        $(".accept_button").click(function(){
            var link = $(this).attr('href');
            console.log(link);
            console.log(this);
            $.ajax({
                   url: link,
                   success: function(response){
                        console.log("Dodany");
                        update_notifications();
                    }
                });
        });
        $(".reject_button").click(function(){
            var link = $(this).attr('href');
            console.log(link);
            console.log(this);
            $.ajax({
                   url: link,
                   success: function(response){
                        console.log("Odrzucony");
                        update_notifications();
                    }
                });
        });
    {% endblock %}
