{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} Powiadomienia{% endblock %}
{% block content %}
    <ul class="list-group" id="notification_list">
        {% for record in notifications %}
            <li class="list-group-item"><!--<h6>{{record.actor.first_name}} {{ record.actor.last_name }}--></h6>
                <h6>{{ record.verb }}</h6></li>
        {% empty %}
            <li class="list-group-item">Nic tu nie ma</li>>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
        $(document).ready(function(){
            setInterval(update_notifications, 10000);
        });
        function update_notifications(){
            $.ajax({
                'type': 'GET',
                'url': "/notifications/api/unread_list/",
                success: function(response) {
                    let n = response.unread_count;
                    if(n > 0){
                        var notification_list = document.getElementById("notification_list");
                        notification_list.innerHTML = " ";
                        for(var i=0;i<n;i++){
                            var new_li = document.createElement("li");
                            new_li.classList.add("list-group-item");
                            new_li.innerHTML = "<h6>"+ response.unread_list[i].verb +"</h6>";
                            notification_list.insertBefore(new_li, notification_list.firstChild);
                        }
                    }
                },
                error: function (response) {
                // alert the error if any error occured
                    console.log("CHUJ");
            }
            });
        }
    {% endblock %}