{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} Powiadomienia{% endblock %}
{% block content %}
    <ul class="list-group" id="notification_list">
        {% for record in notifications %}
            <li id="{{ record.slug }}" class="list-group-item" style="{% if record.unread %} background-color:#c5edd3; {% endif %}"><!--<h6>{{record.actor.first_name}} {{ record.actor.last_name }}--></h6>
                <h6>{{ record.verb }}</h6>
                {% if record.need_acceptance %}
                    <button href="/requests/{{record.id}}/accept" class='accept'>Akceptuj</button>  <button href="/requests/{{record.id}}/accept" class='reject'>Odrzuć</button>
                {% endif %}
                <p style="display:none;">{{ record.id }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">Nic tu nie ma</li>>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
        $(document).ready(function(){
            setInterval(update_notifications, 10000);
        });
        function update_notifications(){
            $.ajax({
                'type': 'GET',
                'url': "/api/user/notifications/",
                success: function(response) {
                    let n = response.all_count;
                    if(n > 0){
                        var notification_list = document.getElementById("notification_list");
                        notification_list.innerHTML = " ";
                        for(var i=0;i<n;i++){
                            var new_li = document.createElement("li");
                            new_li.classList.add("list-group-item");
                            new_li.innerHTML = "<h6>"+ response.notifications[i].verb +"</h6>";
                            if(response.notifications[i].need_acceptance){
                                var accept_url = "/requests/"+ response.notifications[i].slug +"/accept";
                                var reject_url = "/requests/"+ response.notifications[i].slug +"/reject";
                                var accept_button = "<button href=" + accept_url +" class='accept'>Akceptuj</button>  <button href="+reject_url"+ class='reject'>Odrzuć</button>";
                                new_li.innerHTML = new_li.innerHTML.concat(accept_button);
                            }
                            new_li.id = response.notifications[i].slug;
                            if(response.notifications[i].unread){
                                $(new_li).css("background-color", "#c5edd3");
                            }
                            notification_list.insertBefore(new_li, notification_list.firstChild);
                        }
                    }
                },
                error: function (response) {
                // alert the error if any error occured
                    console.log("COŚ POSZŁO NIE TAK!");
            }
            });
        }
        $(".list-group-item").click(function(){
            console.log("klik!");
            let record_id = $(this).attr("id");
            $.ajax({
                'type': 'GET',
                'url': "/notifications/mark-as-read/"+record_id+"/",
                success: function(response) {
                    console.log(record_id+" przeczytane");
                    update_notifications();
                }
            });
        });
    {% endblock %}
