{% extends "base.html" %}
{% load static %}
{% block title %} Konto rodzic + uczeń{% endblock %}
{% block styles %}
    <link type="text/css" href="{% static 'css/register_styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="tui-registration_page">
        <img class="register_background_image" src="{% static 'images/slide1.jpg' %}">
        <div id="formContainer">
            <form action="/signup/parent" method="post">
                {% csrf_token %}
                <label for="first_name"><b>Imię</b></label>
                <input type="text" placeholder="Imię" name="first_name" id="first_name" required>

                <label for="last_name"><b>Nazwisko</b></label>
                <input type="text" placeholder="Nazwisko" name="last_name" id="last_name" required>

                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Email" name="email" id="email" required>
                <div id="mail_alert" class="passwords-alert"> </div>

                <label for="birthday"><b>Data urodzenia</b></label>
                <input type="date" min="{{ user_16_years }}"  max="{{ today }}" name="birthday" id="birthday" value="2017-06-01" required>
                <div id="dates_alert" class="passwords-alert">Nieprawidłowa data!</div>

                <label for="password"><b>Hasło</b></label>
                <input type="password" placeholder="Hasło" name="password" id="password" required>
                <div id="pass_validation_errors" class="passwords-alert"> </div>

                <label for="password2"><b>Powtórz hasło</b></label>
                <input type="password" placeholder="Powtórz hasło" name="password2" id="password2" required>

                <div id="differentPasswordsAlert" class="passwords-alert">Hasła nie są identyczne!</div>

                <div>
                    <label for="parent_password"><b>Hasło rodzicielskie</b></label>
                    <input type="password" placeholder="Hasło rodzicielskie" name="parent_password" id="parent_password" required>

                    <label for="parent_password2"><b>Powtórz hasło rodzicielskie</b></label>
                    <input type="password" placeholder="Powtórz hasło rodzicielskie" name="parent_password2" id="parent_password2" required>
                </div>

                <div id="differentParentalPasswordsAlert" class="passwords-alert">Hasła nie są identyczne!</div>

                <label id="acceptStatue">
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" required>
                    Zapoznałem się z <a href="url">Regulaminem</a>
                </label>

                <div id="previous" class="nav_button" onclick="location.href = '/signup-choice'">Wstecz</div>
                <input type="button" onclick="comparePasswords();" id="register" class="nav_button" value="Zarejestruj"/>
<!--                <div id="register" class="nav_button" onclick="comparePasswords();">Zarejestruj</div>-->
            </form>
        </div>
    </div>

   <script>
        var previous = "parentalAccount";
        var chosedIconColor = "#dbf8e8";
        var numberOfChosedIcons = 0;

        function chooseIcon(id) {
            var chosed = id;
            var numberOfChosedIcons = numberOfChosedIcons + 1;
            var next = document.getElementById("next1");
            next.style.display = 'flex';
            if (chosed != previous) {
                document.getElementById(previous).style.background = "#ffffff";
                document.getElementById(chosed).style.background = chosedIconColor;
                previous = chosed;
            } else {
                document.getElementById(chosed).style.background = chosedIconColor;
                previous = chosed;
            }
            switch (id) {
                case "teacherAccount":
                    document.getElementById("accountDescriptionContent").innerHTML = "- Zakładaj klasy"+"<br>"+"- Planuj lekcje"+"<br>"+"- Otrzymuj na bieżąco płatności za lekcje";
                    var e = document.getElementById("parentalPasswordSection");
                    e.style.display = 'none';
                    break;
                case "studentAccount":
                    document.getElementById("accountDescriptionContent").innerHTML = "- Zapisuj się na zajęcia"+"<br>"+"- Miej dostęp do wszystkich materiałów dydaktycznych"+"<br>"+"- Płać za lekcje szybko i wygodnie";
                    var e = document.getElementById("parentalPasswordSection");
                    e.style.display = 'none';
                    break;
                case "parentalAccount":
                    document.getElementById("accountDescriptionContent").innerHTML = "- Zapisuj swoje dziecko na zajęcia"+"<br>"+"- Miej dostęp do wszystkich materiałów dydaktycznych"+"<br>"+"- Płać za lekcje szybko i wygodnie";
                    var e = document.getElementById("parentalPasswordSection");
                    e.style.display = 'block';
            }
        }


        document.getElementById("previous").addEventListener("click", function() {
            var e = document.getElementById("registrationPage2");
            e.style.display = 'none';
            var f = document.getElementById("registrationPage1");
            f.style.display = 'block';
        });

        // Check if entered passwords are the same

        function email_validation() {
            let email = $("#email").val();
            let mail_valid = true;
            $.ajax({
                'method': 'POST',
                'url': '/api/mail-check-exists',
                'data': {email: email},
                'dataType': 'json',
                'async': false,
                'success': function(response) {
                    console.log(response.valid);
                    if(!response.valid){
                        $("#mail_alert").html(response.mail_error);
                        $("#mail_alert").css("display","block");
                        mail_valid = false;
                    }else{
                        $("#mail_alert").css("display","none");
                    }
                }
            });
            return mail_valid;
        }

        function password_validation() {
            let passwd = $("#password").val();
            let valid_pass = true;
            $.ajax({
                'method': 'POST',
                'url': '/api/pass-check-constrains',
                'data': {password: passwd, csrfmiddlewaretoken: '{{ csrf_token }}'},
                'success': function(response){
                    if("pass_error" in response){
                        $("#pass_validation_errors").html(response.pass_error);
                        $("#pass_validation_errors").css("display","block");
                        valid_pass = false;
                    }else{
                        $("#pass_validation_errors").css("display","none");
                    }
                },
                'error': function(response){
                    console.log(response);
                },
                'async': false
            });
            return valid_pass;
        }

        function check_dates() {
            var birthday = document.getElementById("birthday").value;
            var birthday_date = new Date(birthday);
            var today = new Date()
            console.log(birthday);

            min_date = new Date("{{ user_16_years }}");
            console.log(min_date);
            if(birthday_date < min_date){
                tag = document.getElementById("dates_alert");
                tag.innerHTML = "Konto rodzica możesz założyć dla osoby mającej maks. 16 lat!";
                tag.style.display = 'block';
                return false;
            }
            else if(birthday_date >= today){
                tag = document.getElementById("dates_alert");
                tag.innerHTML = "Urodziłeś się w przyszłości, powiadasz? ;)";
                tag.style.display = 'block';
                return false;
            }
            return true;
        }

        function comparePasswords() {
            var password1 = document.getElementById("password").value;
            var password2 = document.getElementById("password2").value;
            var valid_password = true;
            if (password1 != password2) {
                differentPasswordsAlert.style.display = 'block';
                valid_password = false;
            } else {
                differentPasswordsAlert.style.display = 'none';
            }
            var password3 = document.getElementById("parent_password").value;
            var password4 = document.getElementById("parent_password2").value;
            var valid_password_parent = true;
            if (password3 != password4) {
                differentParentalPasswordsAlert.style.display = 'block';
                valid_password_parent =  false;
            } else {
                differentParentalPasswordsAlert.style.display = 'none';
            }
            var dates_valid = check_dates();
            var form = document.getElementsByTagName('form')[0];
            var is_valid = form.checkValidity();
            var pass_valid = password_validation();
            var mail_valid = email_validation();
            console.log(pass_valid);
            console.log("Mail: "+mail_valid);
            if (valid_password && valid_password_parent && dates_valid && is_valid && pass_valid && mail_valid){
                form.submit();
            }
        }

        //Login window script
        let timer = null;
        $("#password").on("keyup",function(){
            clearTimeout(timer);
            timer = setTimeout(password_validation,1000);
        });
        $("#email").on("keyup",function(){
            clearTimeout(timer);
            console.log("start!");
            timer = setTimeout(email_validation,1000);
        });

        document.getElementById("loginButton1").addEventListener("click", function() {
            var e = document.getElementsByClassName("tui-window_login");
            e[0].style.display = 'block';
        });
        document.getElementById("closeButton").addEventListener("click", function() {
            var e = document.getElementsByClassName("tui-window_login");
            e[0].style.display = 'none';
        });
        document.getElementById("loginButton2").addEventListener("click", function() {
            var e = document.getElementsByClassName("tui-window_login");
            e[0].style.display = 'block';
        });
        document.getElementById("closeButton").addEventListener("click", function() {
            var e = document.getElementsByClassName("tui-window_login");
            e[0].style.display = 'none';
        });
        // Navigate to register
        document.getElementById("createAccount").addEventListener("click", function() {
            var e = document.getElementsByClassName("tui-window_login");
            e[0].style.display = 'none';
            var f = document.getElementById("registrationPage2");
            f.style.display = 'none';
            var g = document.getElementById("registrationPage1");
            g.style.display = 'block';
        });

    </script>
{% endblock %}