{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} Powiadomienia{% endblock %}
{% block content %}
    <ul class="list-group">
        {% for record in notifications %}
            <li class="list-group-item"><!--<h6>{{record.actor.first_name}} {{ record.actor.last_name }}--></h6>
                <h4>{{ record.verb }}</h4></li>
        {% empty %}
            <li class="list-group-item">Nic tu nie ma</li>>
        {% endfor %}
    </ul>
{% endblock %}