<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zresetuj haslo</title>
</head>
<body>

<form action="/request-reset-link/" method="post">
    {% csrf_token %}
    <h4>Podaj swojego maila zeby moc zresetowac haslo</h4>
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" name="email" id="email" required/></td>
        </tr>

        <p>{{error}}</p>
    </table>
    <button type="submit">Wyslij mi link</button>
</form>

</body>
</html>