{% extends "base.html" %}
{% load static %}
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">-->
<!--    <title>Tutorex</title>-->
{% block styles %}
    <link type="text/css" href="{% static 'css/password_change_styles.css' %}" rel="stylesheet">
{% endblock %}
<!--    <style>-->
<!--        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');-->
<!--    </style>-->

<!--</head>-->
{% block content %}
<!--    <header class="tui-header">-->
<!--        <a href="/" class="tui-header_logo">-->
<!--            <img src="{% static 'images/logo.jpg' %}" id="logo" alt="TutorexLogo" width="186" height="60">-->
<!--        </a>-->
<!--        <div class="tui-header_buttons">-->
<!--            <button class="button_login" id="loginButton">-->
<!--                Zaloguj się-->
<!--            </button>-->
<!--            <button class="button_signin" id="signup" onclick="document.location='/signup-choice/'">-->
<!--                Zarejestruj się-->
<!--            </button>-->
<!--        </div>-->
<!--    </header>-->

    <header class="tui-header">
        <a href="/" class="tui-header_logo">
            <img src="{% static 'images/logo.jpg' %}" id="logo" alt="TutorexLogo" width="186" height="60">
        </a>
    </header>
    <div id="passwordChangeBox">
        <div id="passwordChangeWindow">
            <h1 style="margin-left: 200px;">ZMIEŃ HASŁO</h1>
            <form action="{% url 'reset-user-password' user_uid token %}" method="post">
              {% csrf_token %}
              <label for="password"><b>Nowe hasło:</b></label>
              <input type="password" placeholder="Nowe hasło" name="password" id="newPassword" required>
              <label for="password2"><b>Potwórz nowe hasło:</b></label>
              <input type="password" placeholder="Powtórz nowe hasło" name="password2" id="newPasswordRepeat" required>

              <div id="differentPasswordsAlert">Hasła nie są identyczne!</div>

              <p>{{error}}</p>
              <p>{{success}}</p>
              <button id="saveNewPasswordButton" style="background-color: #0E4DA4;" onclick="comparePasswords()" type="submit">ZAPISZ NOWE HASŁO</button>
            </form>
            <a href="/" id="backToStartPage">
                Wróć na stronę główną
            </a>
        </div>
    </div>

    <script>
        function comparePasswords() {
            var password1 = document.getElementById("newPassword").value;
            var password2 = document.getElementById("newPasswordRepeat").value;
            var alert = document.getElementById("differentPasswordsAlert");
            if (password1 != password2) {
                alert.style.display = 'block';
            } else {
                alert.style.display = 'none';
            }
        }
    </script>

{% endblock %}
