<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>

  <form action="/signup/" method="post">
    {% csrf_token %}
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" required/><br/>
    <label for="name">First Name</label>
    <input type="text" name="first_name" id="name" required/><br/>
    <label for="last_name">Lastname</label>
    <input type="text" name="last_name" id="last_name" required/><br/>
    <label for="birthday">Date of birth</label>
    <input type="date" min="1900-01-01" name="birthday" id="birthday" required/><br/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required/><br/>
    <label for="password2">Confirm password</label>
    <input type="password" name="password2" id="password2" required/><br/><br/>
    <label for="is_teacher">I want to create a teacher account</label>
    <input type="checkbox" name="is_teacher" id="is_teacher"/><br/>
    <input type="submit" value="Zarejestruj się"/>
  </form>
</body>
</html>