{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} 403- Forbidden {% endblock %}
{% block content %}
    <br/>
    <div style="text-align:center; width:100%; padding:100px;">
        <h1>Nie dla psa!</h1>
        <h1>403</h1>
        <h6>Próbujesz się dostać na stronę do której nie powinieneś mieć dostępu</h6>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}