{% extends "main.html" %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/main_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block title %} 404- Not found{% endblock %}
{% block content %}
    <div style="text-align:center;">
        <h1>Uuuups!</h1>
        <h2>404</h2>
        <h6>Nie znaleziono strony o takim adresie</h6>
    </div>
{% endblock %}