{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %} {% endblock %}
    <title>{% block title %}Tutorex {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon-64x64.ico' %}"/>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
    </style>

</head>
<body>
  <header class="tui-header">
            <a href="/" class="tui-header_logo">
                <img src="{% static 'images/logo.jpg' %}" id="logo" alt="TutorexLogo" width="186" height="60">
            </a>
            <div class="tui-header_buttons">
                <a href="/">
                    <button class="button_login" id="loginButton1">
                        Zaloguj się
                    </button>
                </a>
                <a href="/signup-choice/">
                  <button class="button_signin" id="signup">
                    Zarejestruj się
                  </button>
                </a>
            </div>
        </header>
  {% block content %} {% endblock %}
</body>
</html>
