* {
    font-family: inter;
    box-sizing: border-box;
    /* include border and padding in element width and height */
}

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    min-width: 830px;
}

.tui-header {
    background-color: #1BB55C;
    height: 120px;
    color: white;
}

.tui-header_bar { 
    height: 60px;
}

.tui-header_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 186px;
    height: 60px;
    left: 9%;
    top: 0px;
}

.tui-header_account {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    right: 9%;

    width: 300px;
    height: 60px;

    color: white;
}

.tui-header_tabs {
    background-color: #1BB55C;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 225px;
    height: 60px;
    left: 9%;
    top: 60px;
}

.tui-header_tabs_button {
    padding: 15px 20px;
    height: 60px;
    width: fit-content;

    display: inline-block;
    cursor: pointer;
}

.tui-header_tabs_button:hover {
    background-color: #23c767;     
    padding: 15px 20px;
    width: fit-content;
    cursor: pointer;
}