#tui-contact_page {
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
    left: 0%;
    right: 0%;
    top: 20px;
    bottom: 20px;
}

#tui-contact_box {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    min-height: 240px;

    padding: 20px;
    font-size: 30px;
    font-weight: 100;

    text-align: center;

    border: 2px solid #0E4DA4;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: white;

    overflow: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    #tui-contact_box {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    #tui-contact_box {
        margin-left: 5%;
        margin-right: 5%;
    }
}