<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj lekcję</title>
</head>
<body>
<h4>Stwórz lekcję</h4>
    <form method="post">
    {% csrf_token %}
        <br>
            <label for="lesson_name">Temat lekcji (trza podać): </label>
            <input type="text" name="lesson_name" id="lesson_name" required/>
            <br>
            <label for="description">Krótki opis Lekcji</label>
            <input type="text" name="description" id="description">
            <br>
            <label for="note">Notatka do lekcji: </label>
            <input type="text" name="note" id="note">
            <br>
            <label for="lesson_date">Data</label>
            <input type="date" name="lesson_date" id="lesson_date">
            <br>
            <label for="lesson_hour">Godzina</label>
            <input type="time" name="lesson_hour" id="lesson_hour">
            <br>
            <label for="lesson_done">Czy lekcja się już odbyła</label>
            <input type="checkbox" name="lesson_done" id="lesson_done">
            <br>
    <button type="submit">Dodaj lekcję</button>
</form>

</body>
</html>