<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>WIDOK KLASY</p>
    <p>{{classroom.name}}</p>
    <p>{{classroom.subject}}</p>
    <p>{{classroom.age_range_min}}</p>
    <p>{{classroom.age_range_max}}</p>
    <p>{{classroom.time_frame_start}}</p>
    <p>{{classroom.time_frame_end}}</p>
    <p>{{classroom.students}}</p>
    <p>{{classroom.lessons}}</p>
    </br></br>
    <a href="modify-classroom/{{ classroom.id }}">Modyfikuj klasę</a>

</body>
</html>